

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To see | Video-Club AD</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav class="top">
            <ul class="menu">
                <li>
                    <a href="./crime.html">Back</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <br><br>
        <a title="Once Upon a Time in America"><img src="../img/23.jpg" width="250"></a>
        <a title="Casino"><img src="../img/101.jpg" width="250"></a>
        <a title="Full Metal Jacket"><img src="../img/73.jpg" width="250"></a>
        <a title="..."><img src="../img/111.jpg" width="250"></a>
        <a title="..."><img src="../img/112.jpg" width="250"></a>
        <a title="..."><img src="../img/113.jpg" width="250"></a>
        <a title="..."><img src="../img/114.jpg" width="250"></a>
        <a title="..."><img src="../img/115.jpg" width="250"></a>
        <a title="..."><img src="../img/116.jpg" width="250"></a>
        <a title="..."><img src="../img/117.jpg" width="250"></a>
        <a title="..."><img src="../img/118.jpg" width="250"></a>
        <a title="..."><img src="../img/119.jpg" width="250"></a>
        <a title="..."><img src="../img/120.jpg" width="250"></a>
        <a title="..."><img src="../img/121.jpg" width="250"></a>
        <a title="..."><img src="../img/122.jpg" width="250"></a>
        <a title="..."><img src="../img/123.jpg" width="250"></a>
        <a title="..."><img src="../img/124.jpg" width="250"></a>
        <a title="..."><img src="../img/125.jpg" width="250"></a>
        <a title="..."><img src="../img/126.jpg" width="250"></a>
        <a title="..."><img src="../img/127.jpg" width="250"></a>
        <a title="..."><img src="../img/128.jpg" width="250"></a>
        <a title="..."><img src="../img/129.jpg" width="250"></a>
        <a title="..."><img src="../img/130.jpg" width="250"></a>
        <a title="..."><img src="../img/131.jpg" width="250"></a>
        <a title="..."><img src="../img/132.jpg" width="250"></a>
        <a title="..."><img src="../img/133.jpg" width="250"></a>
        <a title="..."><img src="../img/134.jpg" width="250"></a>
        <a title="..."><img src="../img/135.jpg" width="250"></a>
        <a title="..."><img src="../img/136.jpg" width="250"></a>
        <a title="..."><img src="../img/137.jpg" width="250"></a>
        <a title="..."><img src="../img/138.jpg" width="250"></a>
        <a title="..."><img src="../img/139.jpg" width="250"></a>
        <a title="..."><img src="../img/140.jpg" width="250"></a>
        <a title="..."><img src="../img/141.jpg" width="250"></a>
        <a title="..."><img src="../img/142.jpg" width="250"></a>
        <a title="..."><img src="../img/143.jpg" width="250"></a>
        <a title="..."><img src="../img/144.jpg" width="250"></a>
        <a title="..."><img src="../img/145.jpg" width="250"></a>
        <a title="..."><img src="../img/146.jpg" width="250"></a>
        <a title="..."><img src="../img/147.jpg" width="250"></a>
        <a title="..."><img src="../img/148.jpg" width="250"></a>
        <a title="..."><img src="../img/149.jpg" width="250"></a>
        <a title="..."><img src="../img/150.jpg" width="250"></a>
        <a title="..."><img src="../img/151.jpg" width="250"></a>
        <a title="..."><img src="../img/152.jpg" width="250"></a>
        <a title="..."><img src="../img/153.jpg" width="250"></a>
        <a title="..."><img src="../img/154.jpg" width="250"></a>
        <a title="..."><img src="../img/155.jpg" width="250"></a>
        <a title="..."><img src="../img/156.jpg" width="250"></a>
        <a title="..."><img src="../img/157.jpg" width="250"></a>
        <a title="..."><img src="../img/158.jpg" width="250"></a>
        <a title="..."><img src="../img/159.jpg" width="250"></a>
        <a title="..."><img src="../img/160.jpg" width="250"></a>
        <a title="..."><img src="../img/161.jpg" width="250"></a>
        <a title="..."><img src="../img/162.jpg" width="250"></a>
        <a title="..."><img src="../img/163.jpg" width="250"></a>
        <a title="..."><img src="../img/164.jpg" width="250"></a>
        <a title="..."><img src="../img/165.jpg" width="250"></a>
        <a title="..."><img src="../img/166.jpg" width="250"></a>
        <a title="..."><img src="../img/167.jpg" width="250"></a>
        <a title="..."><img src="../img/168.jpg" width="250"></a>
        <a title="..."><img src="../img/169.jpg" width="250"></a>
        <a title="..."><img src="../img/170.jpg" width="250"></a>
        <a title="..."><img src="../img/171.jpg" width="250"></a>
        <a title="..."><img src="../img/172.jpg" width="250"></a>
        <a title="..."><img src="../img/173.jpg" width="250"></a>
        <a title="..."><img src="../img/174.jpg" width="250"></a>
        <a title="..."><img src="../img/175.jpg" width="250"></a>
        <a title="..."><img src="../img/176.jpg" width="250"></a>
        <a title="..."><img src="../img/177.jpg" width="250"></a>
        <a title="..."><img src="../img/178.jpg" width="250"></a>
        <a title="..."><img src="../img/179.jpg" width="250"></a>
        <a title="..."><img src="../img/180.jpg" width="250"></a>
        <a title="..."><img src="../img/181.jpg" width="250"></a>
        <a title="..."><img src="../img/182.jpg" width="250"></a>
        <a title="..."><img src="../img/183.jpg" width="250"></a>
        <a title="..."><img src="../img/184.jpg" width="250"></a>
        <a title="The Greatest Showman"><img src="../img/200.jpg" width="250"></a>
        <a title="her"><img src="../img/208.jpg" width="250"></a>
        <a title="Before Sunset"><img src="../img/217.jpg" width="250"></a>
        <a title="Spotlight"><img src="../img/220.jpg" width="250"></a>
        <a title="Rocky"><img src="../img/228.jpg" width="250"></a>
        <a title="..."><img src="../img/305.jpg" width="250"></a>
        <a title="..."><img src="../img/306.jpg" width="250"></a>
        <a title="..."><img src="../img/307.jpg" width="250"></a>
        <a title="..."><img src="../img/309.jpg" width="250"></a>
        <a title="..."><img src="../img/312.jpg" width="250"></a>
        <a title="..."><img src="../img/313.jpg" width="250"></a>
        <a title="..."><img src="../img/315.jpg" width="250"></a>
        <a title="..."><img src="../img/316.jpg" width="250"></a>
        <a title="..."><img src="../img/320.jpg" width="250"></a>
        <a title="..."><img src="../img/321.jpg" width="250"></a>
        <a title="..."><img src="../img/322.jpg" width="250"></a>
        <a title="..."><img src="../img/323.jpg" width="250"></a>
        <a title="..."><img src="../img/324.jpg" width="250"></a>
        <a title="..."><img src="../img/325.jpg" width="250"></a>
        <a title="..."><img src="../img/326.jpg" width="250"></a>
        <a title="..."><img src="../img/327.jpg" width="250"></a>
        <a title="..."><img src="../img/328.jpg" width="250"></a>
        <a title="..."><img src="../img/329.jpg" width="250"></a>
        <a title="..."><img src="../img/330.jpg" width="250"></a>
        <a title="..."><img src="../img/331.jpg" width="250"></a>
        <a title="..."><img src="../img/332.jpg" width="250"></a>
        <a title="..."><img src="../img/333.jpg" width="250"></a>
        <a title="..."><img src="../img/334.jpg" width="250"></a>
        <a title="..."><img src="../img/335.jpg" width="250"></a>
        <a title="..."><img src="../img/336.jpg" width="250"></a>
        <a title="..."><img src="../img/337.jpg" width="250"></a>

       
 
        
        
  
    </main>
    <footer>
        <span id="copyright">&copy; Video-Club by Adam Sâdani</span>
        <nav class="bottom">
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=ISHjHy15DF4&t=262s" class="fab fa-youtube" target="_blank"></a>
                    
                </li>
            </ul>
        </nav>
    </footer>
</body>

</html>