

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Drama | Video-Club AD</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav class="top">
            <ul class="menu">
                <li>
                    <a href="./action.html">Action</a>
                    <a href="./adventure.html">Adventure</a>
                    <a href="./animation.html">Animation</a>
                    <a href="./comedy.html">Comedy</a>
                   
                </li>
                    
                <li>
                    <a href="./crime.html">Crime</a>
                    <a href="./documentary.html">Documentary</a>
                    <a href="./drama.html">Drama</a>
                    <a href="./fantasy.html">Fantasy</a>
                    
                </li>

                <li>
                    <a href="./history.html">History</a>
                    <a href="./horror.html">Horror</a>
                    <a href="./mystery.html">Mystery</a>
                    <a href="./romance.html">Romance</a>
                </li>

                <li>
                    <a href="./sciencefiction.html">Science Fiction</a>
                    <a href="./thriller.html">Thriller</a>
                    <a href="./war.html">War</a>
                    <a href="./western.html">Western</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <br><br>
        <a title="The Shawshank Redemption"><img src="../img/4.jpg" width="250"></a>
        <a title="Life is beautiful"><img src="../img/20.jpg" width="250"></a>
        <a title="Fight Club"><img src="../img/22.jpg" width="250"></a>
        <a title="Whiplash"><img src="../img/28.jpg" width="250"></a>
        <a title="American History X"><img src="../img/31.jpg" width="250"></a>
        <a title="Miracle In Cell No. 7"><img src="../img/36.jpg" width="250"></a>
        <a title="Les Intouchables"><img src="../img/37.jpg" width="250"></a>
        <a title="Capernaum"><img src="../img/65.jpg" width="250"></a>
        <a title="The Hate U Give"><img src="../img/68.jpg" width="250"></a>
        <a title="The Father"><img src="../img/71.jpg" width="250"></a>
        <a title="Good Will Hunting"><img src="../img/72.jpg" width="250"></a>
        <a title="The Hunt"><img src="../img/85.jpg" width="250"></a>
        <a title="Black Beauty"><img src="../img/88.jpg" width="250"></a>
        <a title="Lion"><img src="../img/89.jpg" width="250"></a>
        <a title="La Haine"><img src="../img/90.jpg" width="250"></a>
        <a title="Paper Lives"><img src="../img/93.jpg" width="250"></a>
        <a title="The Wolf of Wall Street"><img src="../img/96.jpg" width="250"></a>
        <a title="Room"><img src="../img/97.jpg" width="250"></a>
        <a title="Requiem for a Dream"><img src="../img/99.jpg" width="250"></a>
        <a title="Ford v Ferrari"><img src="../img/102.jpg" width="250"></a>
        <a title="Gran Torino"><img src="../img/104.jpg" width="250"></a>
        <a title="Million Dollar Baby"><img src="../img/110.jpg" width="250"></a>
        <a title="The Whale"><img src="../img/188.jpg" width="250"></a>
        <a title="12 years a slave"><img src="../img/190.jpg" width="250"></a>
        <a title="The boy who harnessed the wind"><img src="../img/192.jpg" width="250"></a>
        <a title="Just Mercy"><img src="../img/196.jpg" width="250"></a>
        <a title="Freedom Writers"><img src="../img/198.jpg" width="250"></a>
        <a title="The Pursuit of Hapiness"><img src="../img/203.jpg" width="250"></a>
        <a title="A Beautiful Mind"><img src="../img/209.jpg" width="250"></a>
        <a title="A Bag of Marbles"><img src="../img/210.jpg" width="250"></a>
        <a title="Into The Wild"><img src="../img/218.jpg" width="250"></a>
        <a title="Hustle"><img src="../img/223.jpg" width="250"></a>
        <a title="Mustang"><img src="../img/230.jpg" width="250"></a>
       
    </main>
    <footer>
        <span id="copyright">&copy; Video-Club by Adam Sâdani</span>
        <nav class="bottom">
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=ISHjHy15DF4&t=262s" target="_blank">thanks bro..</a>
                </li>

                <li>
                    <a href="./_tosee.html" >movies to see..</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>

</html>