

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Western | Video-Club AD</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav class="top">
            <ul class="menu">
                <li>
                    <a href="./action.html">Action</a>
                    <a href="./adventure.html">Adventure</a>
                    <a href="./animation.html">Animation</a>
                    <a href="./comedy.html">Comedy</a>
                   
                </li>
                    
                <li>
                    <a href="./crime.html">Crime</a>
                    <a href="./documentary.html">Documentary</a>
                    <a href="./drama.html">Drama</a>
                    <a href="./fantasy.html">Fantasy</a>
                    
                </li>

                <li>
                    <a href="./history.html">History</a>
                    <a href="./horror.html">Horror</a>
                    <a href="./mystery.html">Mystery</a>
                    <a href="./romance.html">Romance</a>
                </li>

                <li>
                    <a href="./sciencefiction.html">Science Fiction</a>
                    <a href="./thriller.html">Thriller</a>
                    <a href="./war.html">War</a>
                    <a href="./western.html">Western</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <br><br>
        <a title="The Good The Bad and The Ugly"><img src="../img/18.jpg" width="250"></a>
        <a title="Django Unchained"><img src="../img/67.jpg" width="250"></a>
        
    </main>
    <footer>
        <span id="copyright">&copy; Video-Club by Adam Sâdani</span>
        <nav class="bottom">
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=ISHjHy15DF4&t=262s" target="_blank">thanks bro..</a>
                </li>

                <li>
                    <a href="./_tosee.html" >movies to see..</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>

</html>