html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #ffffff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    padding: 0px 10px;
    flex: 1;
}

h1 {
    font-size: 18px;
}

nav {
    margin: 0;
    padding: 0;
}

nav.top {
    background-color: black;
    height: 50px;
}

nav:after {
    clear: both;
}

nav ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    margin: 0px;
    display: inline-block;
}

nav.top ul li {
    background-color: black;
}

nav a {
    display: block;
    padding: 14px 20px;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
}

nav.top a:hover {
    background-color: darkcyan;
}

nav ul ul {
    top: 50px;
    display: none;
    position: absolute;
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    width: 170px;
    position: relative;
}

nav ul ul ul li {
    position: relative;
    padding: -50px;
    padding-right: 170px;
}

footer {
    background-color: #000000;
    height: 50px;
    margin-top: 30px;
}

#copyright {
    font-size: 16px;
    padding: 14px 20px;
    float: left;
}

nav.bottom {
    float: right;
}

nav.bottom a:hover {
    color: #55bbff;
}